[submodule "src/rpg_trajectory_evaluation"]
	path = src/rpg_trajectory_evaluation
	url = https://github.com/TannerGilbert/rpg_trajectory_evaluation
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple
