<launch>
    <arg name="output_dir" default="/tmp/logger_output"/>
    <node name="listener" pkg="orb_data_logger" type="main.py" output="screen">
        <param name="output_dir" value="$(arg output_dir)"/>
        <param name="stats_topic" value="/orb_slam3/vo_stats"/>
        <param name="imu_preint_topic" value="/orb_slam3/imu_preint"/>
        <remap from="/imu" to="/imu0"/>
    </node>
</launch>